.logo-svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}


.logo-symbol_tablet {
  display: none;

  @media (min-width: $bp-tablet) and (max-width: $bp-desktop) {
    display: block;
  }
}

.logo-symbol_desktop {
  display: none;

  @media (min-width: $bp-desktop) {
    display: block;
  }
}
