.logo_light {
  position: relative;
  width: 75px;
  height: 22px;
  margin-left: 20px;
  color: $white;
  transition: color .15s;

  &:hover {
    color: $pink;
  }

  &:active {
    color: $white;
    opacity: .3;
  }

  @media (min-width: $bp-tablet) {
    width: 147px;
    height: 40px;
    margin-bottom: 15px;
  }
  @media (min-width: $bp-desktop) {
    margin-left: 10px;
  }
}

.logo_light {
  .logo-symbol_mobile {
    @media (min-width: $bp-tablet) {
      display: none;
    }
  }
}
