@font-face {
  font-family: "Open Sans";
  src: url("assets/opensans.woff2") format("woff2"),
       url("assets/opensans.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: url("assets/opensansbold.woff2") format("woff2"),
       url("assets/opensansbold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Open Sans";
  src: url("assets/opensanslight.woff2") format("woff2"),
       url("assets/opensanslight.woff") format("woff");
  font-weight: 300;
}
