.downloads__platform {
}

.downloads__platform-icon {
  width: 100%;
  height: 100%;
}

.downloads__platform_ios {
  width: 47px;
  height: 56px;
}

.downloads__platform_android {
  width: 43px;
  height: 47px;
}

.downloads__platform_win {
  width: 44px;
  height: 41px;
}
